<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Outfit:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>

<body>
  <div class="container">
    <header class="hero">
      <div class="hero-text">
        <h1>Christian Venturella</h1>
        <p>I am a PhD student in theoretical chemistry at Yale, where I am advised by <a
            href="https://www.tianyuzhu.org/">Tianyu Zhu</a>. I am an <a href="https://ndseg.org/about">NDSEG</a> fellow
          working for the <a
            href="https://www.nre.navy.mil/organization/departments/code-33/division-332/computer-aided-materials-design">Office
            of Naval Research</a> to develop new methods for predicting excited-state properties of materials.</p>
        <p>Before starting my PhD, I did my undergrad at Princeton, where I worked with <a
            href="https://chemistry.princeton.edu/faculty-research/faculty/gregory-scholes/">Greg Scholes</a> for my
          undergraduate thesis.</p>

        <div class="social-links">
          <a class="chip" target="_blank" href="mailto:christian.venturella@yale.edu">Email</a>
          <a class="chip" href="data/ChristianVenturella_CV.pdf">CV</a>
          <a class="chip" href="https://github.com/venturellac">GitHub</a>
          <a class="chip" href="https://scholar.google.com/citations?user=2Gg5htcAAAAJ&hl">Google Scholar</a>
          <a class="chip" href="https://www.linkedin.com/in/christian-venturella-6a5405151/">LinkedIn</a>
        </div>
      </div>
      <div class="hero-img-container">
        <img class="hero-img" alt="Christian Venturella" src="images/my_pfp.png">
      </div>
    </header>

    <section>
      <h2 class="section-title">Research</h2>
      <p>I’m interested in quantum chemistry, materials science, and artificial intelligence, with a focus on developing
        efficient and accurate methods for predicting many-electron properties beyond standard DFT. My work aims to
        bring together modern machine learning approaches with traditional physical chemistry to address challenges in
        spectroscopy, materials science, and catalysis.</p>

      <div class="papers">
        {% for post in site.posts %}
        {% for cat in post.categories %}
        {% if cat == 'research' %}
        <article class="paper-card">
          <div class="paper-img-container">
            <img src="/tn{{post.image}}" alt="Paper Thumbnail" class="paper-img" />
          </div>
          <div class="paper-details">
            <h3 class="paper-title">{{post.title}}</h3>
            <div class="paper-authors">{{post.authors}}</div>
            <div class="paper-venue">{{post.venue}}, {{ post.date | date: "%Y" }}</div>

            <div class="paper-links">
              {% if post.paper %}
              <a class="paper-link" href="{{post.paper}}" target="_blank">Paper</a>
              {% endif %}
              {% if post.arxiv %}
              <a class="paper-link" href="{{post.arxiv}}" target="_blank">ArXiv</a>
              {% endif %}
              {% if post.code %}
              <a class="paper-link" href="{{post.code}}" target="_blank">Code</a>
              {% endif %}
              {% if post.poster %}
              <a class="paper-link" href="{{post.poster}}" target="_blank">Poster</a>
              {% endif %}
              {% if post.slides %}
              <a class="paper-link" href="{{post.slides}}" target="_blank">Slides</a>
              {% endif %}
              {% if post.website %}
              <a class="paper-link" href="{{post.website}}" target="_blank">Website</a>
              {% endif %}
              {% if post.youtube %}
              <a class="paper-link" href="{{post.youtube}}" target="_blank">YouTube</a>
              {% endif %}
              {% if post.dataset %}
              <a class="paper-link" href="{{post.dataset}}" target="_blank">Dataset</a>
              {% endif %}
            </div>

            <p class="paper-excerpt">{{ post.excerpt }}</p>
          </div>
        </article>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
    </section>
  </div>
</body>

</html>